// background

body {
  background: url(https://s2.ax1x.com/2019/08/13/m9r5qK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
//hitokoto

.hitokoto-title {
  text-align: center;
  font-size: 12px;
}

#hitokoto {
  font-family: "Microsoft YaHei";
  font-size: 11px;
}

#hitofrom {
  float: right;
  font-family: "Microsoft YaHei";
  font-size: 10px;
}